{% extends 'base.html' %} {% block content %}

<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Djangoo App</h1><!-- texto grande-->
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda sunt
      animi ipsum magni pariatur excepturi libero dicta! Suscipit, quae
      necessitatibus excepturi sapiente mollitia sit at ipsum eaque eius
      laboriosam earum reiciendis, soluta deleniti officiis doloribus quos,
      totam eligendi tempora optio possimus nulla minima. Est distinctio aliquid
      provident esse atque. Hic maxime similique nesciunt voluptatum natus odio
      exercitationem tenetur quas sequi architecto quae, corporis iste autem sed
      ex itaque iusto nam, impedit dolores libero blanditiis placeat. Neque
      voluptatibus quia consectetur a cumque distinctio dolor. Labore quaerat
      omnis, sequi, quibusdam ipsum quae libero dolorum id at debitis tempore
      aliquid ipsa necessitatibus cumque?
    </p>
   <div class="text-center">
    <a class="btn btn-primary" href="/singin/">Singin</a>
    <a class="btn btn-success" href="/singup/">Singup</a>
   </div>
  </section>
</main>
{% endblock %}
